@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Inconsolata:wght@200;300&family=Montserrat:wght@500&family=Poppins:wght@100;300&family=Roboto+Slab:wght@100&family=Urbanist:wght@100&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color : rgb(95, 95, 167);
}
.header{
  padding: 10px;
}
.content{
  min-height: 900vh;
}